# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSC
.history

node_modules
node_modules_old
dist/
dist_tmp/
.tmp/
tmp/
.DS_Store
valine-id.js
valine-key.js
aliyun-mgear.js
huaweiyun.js
.sync/
.osssync.json
.ftc/
*.log

// obsidian
workspace.json
