registry=https://registry.npmmirror.com
auto-install-peers=true
lockfile-include-tarball-url=true
use-lockfile-v6=true
public-hoist-pattern[]=*@vue/*
public-hoist-pattern[]=*@bable*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
