loglevel=warn
always-auth=true
fetch-retries=5
fetch-timeout=60000
auto-install-peers=true
registry=https://registry.npmmirror.com
@cybercloud:registry=http://nexus.ittx.com.cn/repository/npm-public/
ENTRYCLI_CDNURL=https://cdn.npmmirror.com/binaries/sentry-cli
sentrycli_cdnurl=https://cdn.npmmirror.com/binaries/sentry-cli
