// 打印设备和朗读设备
// 可以通过 Chrome Console -> More Tools -> Rendering -> Emulate CSS media type -> print 打开
// 也可以直接在浏览器中使用 Ctrl + P 打印页面进行预览
@media print, speech {
    /* ************************************************************ */
    /* *************************************************** 版面调整 */
    html, body, :root {
        font-size: 12px;
    }

    .page > .content__default {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        max-width: unset;
        size: A4;
        background: var(--color-background);
    }

    #page-bottom, .navbar, .sidebar-mask, .sidebar, .table-of-contents, #valine-vuepress-comment {
        display: none;
    }

    /* **************************************************************** */
    /* *************************************************** 具体元素调整 */
    .page > div.content__default {
        h1 {
            padding: 0;
        }

        h2, h3 {
            padding: 0;
            color: unset;
            background: unset;
        }

        a[href^='http://']:after, a[href^='https://']:after {
            content: ' (' attr(href) ')';
        }

        a[href^='/']:after {
            content: '（https://www.lionad.art' attr(href) '）';
        }
    }
}

/* 减弱动效
 * @see https://developer.mozilla.org/zh-CN/docs/Web/CSS/@media/prefers-reduced-motion
 */
@media screen and (prefers-reduced-motion: reduce) {
    :root {
        --timing-reduce: 0s;
    }

    .animation {
        animation: none;
    }
}
