/* Settings */
@import 'setting.styl';
/* Tools */
@import 'tools.styl';
/* Components */
@import 'components/article.styl';
@import 'components/scrollbar.styl';
@import 'components/navbar.styl';
@import 'components/sidebar.styl';
@import 'components/toc.styl';
@import 'components/valine.styl';
@import 'components/crisp.styl';
/* Themes */
@import 'vuepress-override.styl';
@import 'page.styl';
@import 'effects.styl';
@import 'atomic.styl';
@import 'responsive-em.styl';
@import 'accessbility.styl';
/* Trumps */
@import 'trumps.styl';

html {
  width: 100%;
  height: unset;
}

#app {
  &.no-move {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

/* ********************************************** Selection */
::selection {
  background-color: rgba(230, 230, 250, 0.5);
}

.page-nav {
  font-family: var(--font-sidebar);

  p {
    font-size: 0.875rem !important;
  }
}

.home {
  .content {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
  }
}

div[class*='language-'] {
  background-color: rgba(0, 0, 0, 0.85);
}

.first-letter {
  overflow-wrap: break-word;
  font-size: 3.25rem;
  font-weight: 500;
  line-height: 5.25rem;
  display: block;
  position: relative;
  float: left;
  margin: 0px 0.75rem 0 0px;
}