@import 'valine.styl';

:root {
  --text-black: rgba(0, 0, 0, 0.85);
  --text-black--lighter: rgba(0, 0, 0, 0.8);
  --text-gray: rgba(0, 0, 0, 0.54);
  --text-gray--lighter: rgba(0, 0, 0, 0.3);
  --font-code: 'Fira', 'Consolas', 'Monaco', 'Courier New', 'Courier', 'monospace';
  --font-text: 'Noto Serif CJK', 'Lato', 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-text--general: 'Noto Serif CJK', 'Consolas', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-text--bold: 'Noto Serif CJK BOLD', 'Lato', 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --color-background: white;
}

@font-face {
  font-family: Dhenmark;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Dhenmark/Dhenmark.ttf'), url('http://blog-image.obs.myhuaweicloud.com/mgear/fonts/Dhenmark.ttf');
}

@font-face {
  font-family: Edo;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Edo/Edo.woff2'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Edo/Edo.woff'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Edo/Edo.ttf'), url('http://blog-image.obs.myhuaweicloud.com/mgear/fonts/Edo.woff2'), url('http://blog-image.obs.myhuaweicloud.com/mgear/fonts/Edo.woff'), url('http://blog-image.obs.myhuaweicloud.com/mgear/fonts/Edo.ttf');
}

@font-face {
  font-family: 'Noto Serif CJK BOLD';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Noto Serif CJK SemiBold'), local('NotoSerifSC-SemiBold'), local('SourceHanSerifCN-SemiBold'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Noto_Serif_CJK_SemiBold/3500/Noto_Serif_SC.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Noto_Serif_CJK_SemiBold/3500/Noto_Serif_SC.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif CJK';
  font-style: normal;
  font-display: swap;
  src: local('Noto Serif CJK Light'), local('NotoSerifSC-Light'), local('SourceHanSerifCN-Light'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Noto_Serif_CJK_Light/3500/Noto_Serif_SC.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Noto_Serif_CJK_Light/3500/Noto_Serif_SC.woff') format('woff');
}

html, body {
  font-family: var(--font-text--general);
  font-size: 16px;
}

.theme-default-content:not(.custom) {
  box-sizing: border-box;
}

@media screen and (min-width: 2000px) {
  .theme-default-content:not(.custom) {
    padding-left: 12rem;
    max-width: 70rem;
  }
}

@media screen and (max-width: 1920px) {
  .theme-default-content:not(.custom) {
    padding-left: 8rem;
  }
}

@media screen and (max-width: 1440px) {
  .theme-default-content:not(.custom) {
    padding-left: 2.5rem;
  }
}

@media (max-width: 750px) {
  .theme-default-content:not(.custom) {
    padding: 1.5rem;
  }
}

/* ********************************************** Colors */
dark-black = #221522;
medium-black = #777;
light-black = #ccc;
/* ********************************************** Values */
scrollbar-width = 0.625rem;
sidebar-width = 25rem;
navbar-height = 3.6rem;

/* ********************************************** Scrollbar */
::-webkit-scrollbar {
  position: absolute;
  width: scrollbar-width;
  border-radius: 0;
  background-color: #f9f9f9;
  cursor: pointer;
}

/* 定义滚动条轨道 内阴影+圆角 */
::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #f9f9f9;
  cursor: pointer;
}

/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
  height: navbar-height;
  border-radius: 1px;
  background-color: light-black;
  transition: 0.3s;
  cursor: pointer;
}

/* 定义滑块悬浮样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: medium-black;
  cursor: pointer;
}

/* ********************************************** Sidebar */
.sidebar {
  top: 0;
  width: sidebar-width;
  font-family: var(--font-default);
  border: none;
  border-right: solid 1px #ecdad2;
  font-size: 1rem;
  transition: 0.3s;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 99;
  user-select: none;
  background: white;

  /* 整体调整 */
  & > ul.sidebar-links {
    padding-top: navbar-height + 1em;
  }

  .sidebar-group a.sidebar-link {
    text-indent: -1.35em;
    padding-left: 4em;
    padding-right: 2em;
  }

  .sidebar-group li {
    background: transparent;
    transition: 0.2s;
    line-height: 2.5em;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  /* 二级标题调整 */
  ul.sidebar-sub-headers {
    padding-left: 0;
    border-left: 0.25rem dashed #300c22;
    font-size: 0.85em;
    text-indent: 2.35em;
  }

  /* 悬浮样式 */
  &:hover {
    & > ul.sidebar-links {
      width: sidebar-width;
    }

    &::-webkit-scrollbar {
      display: block;
    }
  }
}

/* ********************************************** Navbar */
navbar-height = 3.6rem;

.navbar {
  left: sidebar-width;
  font-family: none;
  background: transparent;
  border-bottom: 0;
  height: navbar-height;
  z-index: 100;
  background: white;

  /* LOGO */
  .home-link {
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    top: 0px;
    display: block;
    padding-left: 1.5em;
    width: sidebar-width;
    height: navbar-height;
    line-height: navbar-height;
    background: dark-black;

    .site-name {
      position: absolute;
      color: #fefefe;
      text-transform: uppercase;
      font-size: 2em;
      font-family: fantacy;
      letter-spacing: 0.25rem;
    }
  }

  /* 链接 */
  div.links {
    padding-left: 0;
    top: calc(0.7em - 1.5px);
    right: 1.5em;
    // left: calc(((100vw - 25em - 75.75em) / 2));
    // left: calc(((100vw - 25em - 70.3em) / 2));
    background-color: transparent;

    .nav-item {
      padding: 0;
      border: solid 3px dark-black;
      min-width: 8.125rem;
      text-align: right;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='64' viewBox='0 0 16 32'%3E%3Cg fill='%23920000' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 30h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
      cursor: pointer;

      &:hover {
        animation: background-move 1s linear infinite;
      }

      @keyframes background-move {
        0% {
          background-position: 0 0;
        }

        100% {
          background-position: 0 4rem;
        }
      }

      .nav-link {
        box-sizing: border-box;
        display: inline-block;
        padding: 0 1em;
        width: 100%;
        font-weight: bold;
        border-bottom: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.2s;
      }

      .router-link-active {
        padding-right: 1.5em;

        &:before {
          position: absolute;
          right: 0.5em;
          bottom: 50%;
          content: '';
          width: 0.5em;
          height: 0.5em;
          background: dark-black;
          transform: translateY(50%);
        }

        &:after {
          content: '';
          height: 100%;
        }
      }
    }
  }
}

.page-nav {
  font-family: none;

  p {
    font-size: 0.875rem !important;
  }
}

.home {
  .content {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
  }
}

div[class*='language-'] {
  background-color: rgba(0, 0, 0, 0.85);
}

// 禁用A标签后面携带的链接标志
.icon.outbound {
  display: none;
}

.first-letter {
  overflow-wrap: break-word;
  font-size: 3.25rem;
  font-weight: 500;
  line-height: 5.25rem;
  display: block;
  position: relative;
  float: left;
  margin: 0px 0.75rem 0 0px;
}

.utterances {
  margin: 5rem 0 0 0;
  max-width: unset;
}

.page {
  padding-left: sidebar-width;
}

.page > .content__default {
  // codepen block
  .cp_embed_wrapper {
    margin-top: 1em;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  h1, h2, h3 {
    margin-top: 1.5em;
    margin-bottom: 0;
    border: none;
    text-align: left;
    color: var(--text-black);
    font-family: var(--font-text--bold);
  }

  h1 {
    margin-top: 1.25rem !important;
    font-size: 3rem;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 4.375rem;
    letter-spacing: 1px;
  }

  h3 {
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 4.375rem;
    letter-spacing: 1px;
  }

  p {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 1.3125rem;
    color: var(--text-black);
    line-height: 2;
    text-rendering: optimizeLegibility;
    text-align: justify;
    font-style: normal;
    word-break: break-all;
  }

  p + p {
    margin-top: 1em;
  }

  .custom-block {
    border-radius: 6px;

    .custom-block-title {
      display: none;
    }

    p+p {
      margin: 0;
      font-size: 1rem;
    }
  }

  p + div {
    margin-top: 0.5em;
  }

  h1 + p, h2 + p, h3 + p {
    margin-top: 0;
  }

  li {
    margin-top: 1em;
    font-size: 1.3125rem;
    letter-spacing: 0.28px;
    line-height: 2;
  }

  a:not(.header-anchor) {
    color: var(--text-black);
    text-decoration: underline;
    text-decoration-color: var(--text-gray--lighter);
    text-underline-position: under;
    user-select: none;
    transition: text-decoration-color 0.2s;
    cursor: pointer;

    &:visited, &:active {
      color: var(--text-black);
      opacity: 0.8;
    }

    &:hover {
      text-decoration-color: var(--text-gray);
    }
  }

  a.header-anchor {
    position: relative;
    top: -0.05em;
    float: unset;
    margin-top: 0;
    margin-left: -1.7em;
    padding-right: 0;
    text-decoration: none !important;
    transition: 0.3s;
  }

  blockquote {
    margin: 1em 0;
    padding: 0.4em 1em 0.5em 2em;
    border-left: solid 0.25rem var(--text-gray);
    font-size: 1.375rem;
    color: var(--text-gray);
    letter-spacing: 1px;
    word-break: break-all;
    text-align: justify;
  }

  blockquote > p:nth-child(1) {
    margin-top: 0;
  }

  blockquote + p {
    margin-top: 0.8em;
  }

  h1 + blockquote, h2 + blockquote, h3 + blockquote {
    margin-top: 2em;
  }

  ol, ul {
    padding-inline-start: 3.25em;
    padding-inline-end: 3.25em;
    list-style: square outside;
  }

  mark, .highlighted {
    background: #7DFFB3;
  }

  code {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin: 0 3px;
    padding: 3px 0.3em;
    font-size: 1.25rem;
    font-family: var(--font-code);
  }

  li code {
    font-size: 1.125rem;
  }

  strong {
    font-family: var(--font-text--bold);
    font-weight: 500;
  }

  .extra-class {
    border-radius: 0;
  }

  pre {
    margin-top: 1rem;
    padding: 1.25rem 1rem;
  }

  pre + p {
    margin-top: 1.8em;
  }

  .first-letter {
    overflow-wrap: break-word;
    font-size: 3.25rem;
    font-weight: 500;
    line-height: 5.25rem;
    display: block;
    position: relative;
    float: left;
    margin: 0px 0.75rem 0 0px;
  }

  .subtitle {
    margin: 0.5em 0 1.2em 0;
    color: var(--text-gray);
  }

  ::selection {
    background-color: lavender;
  }

  h2, h3 {
    position: relative;
    margin: 2em 0 1em 0 !important;
    padding: 0 0.5em !important;
    line-height: 1.5em;
    background: dark-black;
    color: #fefefe;
    text-transform: uppercase;
    border-radius: 1px;
    font-weight: normal;

    .header-anchor {
      margin-left: -2.7em;
      padding-right: 1em;
    }
  }

  h3 {
    background: medium-black;
  }

  /* ********************************************** TOC */
  .table-of-contents {
    position: fixed;
    transform: translateX(calc(-100% - 4rem)) translateY(3.3125rem);
    text-align: right;
    list-style: none;

    & > ol {
      margin-top: 0;
    }

    ul, ol {
      list-style: unset;
      padding-inline-start: 0;
      padding-inline-end: 0;
    }

    & > ol > li {
      &:first-child:before {
        content: 'TABLE OF CONTENTS';
        padding: 3px 0.625rem;
        font-family: fantacy;
        font-weight: lighter;
        letter-spacing: 2px;
        border: solid 2px;
        border-right: solid 8px;
      }

      & > ol {
        margin-top: 1em;
      }
    }

    // 去掉一级菜单
    & > ol > li > a {
      display: none;
    }

    li {
      margin: 0;
      line-height: unset;

      a {
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--font-default);
        letter-spacing: 1px;
        text-decoration: none;
        opacity: 1;

        &:hover {
          text-decoration: none;
        }
      }
    }

    & > ol > li > ol > li > a {
      font-weight: bold;
    }

    & > ol > li > ol > li {
      margin-top: 0.1em;
    }

    & > ol > li > ol > li > ol {
      line-height: 1.25em;
    }

    & > ol > li > ol > li > ol > li > a {
      font-size: 0.875rem;
    }

    & > ol > li > ol > li, & > ol > li > ol > li > ol > li {
      transition: 0.2s;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }

  @media screen and (min-width: 2000px) {
    .table-of-contents {
      transform: translateX(calc(-100% - 8rem)) translateY(3.3125rem);
    }
  }

  @media screen and (max-width: 1440px) {
    .table-of-contents {
      display: none;
    }
  }

  @media screen and (max-width: 760px) {
    h1 {
      font-size: 1.875rem;
    }

    h2 {
      font-size: 1.625rem;
    }

    h3 {
      font-size: 1.25rem;
    }

    p, li, blockquote, code {
      font-size: 1.125rem;
    }

    blockquote {
      padding: 0.3em 1em;
    }

    pre {
      font-size: 1rem;
    }

    li code {
      font-size: 0.9375rem;
    }

    ol, ul {
      padding-inline-start: 2.2em;
      padding-inline-end: 1em;
      font-size: 1rem;

      li {
        margin-top: 0.5em;
        font-size: 1rem;
        line-height: 1.75;
      }
    }

    h2, h3 {
      box-sizing: border-box;
      position: relative;
      padding: 0 1.5rem !important;
      width: 100vw;
      left: -1.5rem;
      border-radius: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      word-break: break-all;
    }
  }
}

@media screen and (max-width: 760px) {
  .page {
    padding-left: 0;
  }

  .sidebar {
    ul.sidebar-links {
      padding-top: 1em;
    }
  }

  .navbar {
    background: white;
    left: 0;

    .home-link {
      margin-left: 3em;
      background: none;

      .site-name {
        font-size: 1.4em;
        color: dark-black;
      }
    }
  }
}

@media print, speech {
  .page > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    background: white;
  }

  .navbar, .sidebar-mask, .sidebar {
    display: none;
  }
}

@media (-moz-min-device-pixel-ratio: 1.09) and (-moz-max-device-pixel-ratio: 1.18), (-webkit-min-device-pixel-ratio: 1.09) and (-webkit-max-device-pixel-ratio: 1.18), (min-resolution: 1.09dppx) and (max-resolution: 1.18dppx) {
  html, body, :root {
    font-size: 14px;
  }
}

@media (-moz-min-device-pixel-ratio: 1.19) and (-moz-max-device-pixel-ratio: 1.28), (-webkit-min-device-pixel-ratio: 1.19) and (-webkit-max-device-pixel-ratio: 1.28), (min-resolution: 1.19dppx) and (max-resolution: 1.28dppx) {
  html, body, :root {
    font-size: 13px;
  }
}

@media (-moz-min-device-pixel-ratio: 1.29) and (-moz-max-device-pixel-ratio: 1.4), (-webkit-min-device-pixel-ratio: 1.29) and (-webkit-max-device-pixel-ratio: 1.4), (min-resolution: 1.29dppx) and (max-resolution: 1.4dppx) {
  html, body, :root {
    font-size: 12px;
  }
}

@media (-moz-min-device-pixel-ratio: 1.41) and (-moz-max-device-pixel-ratio: 1.6), (-webkit-min-device-pixel-ratio: 1.41) and (-webkit-max-device-pixel-ratio: 1.6), (min-resolution: 1.41dppx) and (max-resolution: 1.6dppx) {
  html, body, :root {
    font-size: 10px;
  }
}

@media (-moz-min-device-pixel-ratio: 1.61) and (-moz-max-device-pixel-ratio: 1.8), (-webkit-min-device-pixel-ratio: 1.61) and (-webkit-max-device-pixel-ratio: 1.8), (min-resolution: 1.61dppx) and (max-resolution: 1.8dppx) {
  html, body, :root {
    font-size: 9px;
  }
}

@media (-moz-min-device-pixel-ratio: 1.81) and (-moz-max-device-pixel-ratio: 2.1), (-webkit-min-device-pixel-ratio: 1.81) and (-webkit-max-device-pixel-ratio: 2.1), (min-resolution: 1.81dppx) and (max-resolution: 2.1dppx) {
  html, body, :root {
    font-size: 8px;
  }
}