@import 'navbar.styl';
@import 'article.styl';
@import 'responsive-em.styl';
@import 'toc.styl';
@import 'valine.styl';
@import 'crisp.styl';
@import 'components.styl';
@import 'accessbility.styl';

:root {
  --text-black: rgba(0, 0, 0, 0.85);
  --text-black--lighter: rgba(0, 0, 0, 0.8);
  --text-gray: rgba(0, 0, 0, 0.54);
  --text-gray--lighter: rgba(0, 0, 0, 0.3);
  --font-code: 'Fira', 'Consolas', 'Monaco', 'Courier New', 'Courier', 'monospace';
  --font-text: 'Noto Serif CJK', 'Lato', 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-text--general: 'Noto Serif CJK', 'Consolas', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-text--bold: 'Noto Serif CJK BOLD', 'Lato', 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-sidebar: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --color-background: white;
  --dark-black: #231622;
}

@font-face {
  font-family: Dhenmark;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Dhenmark/Dhenmark.ttf'), url('http://blog-image.obs.myhuaweicloud.com/mgear/fonts/Dhenmark.ttf');
}

@font-face {
  font-family: Edo;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Edo/Edo.woff2'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Edo/Edo.woff'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Edo/Edo.ttf'), url('http://blog-image.obs.myhuaweicloud.com/mgear/fonts/Edo.woff2'), url('http://blog-image.obs.myhuaweicloud.com/mgear/fonts/Edo.woff'), url('http://blog-image.obs.myhuaweicloud.com/mgear/fonts/Edo.ttf');
}

@font-face {
  font-family: 'Noto Serif CJK BOLD';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Noto Serif CJK SemiBold'), local('NotoSerifSC-SemiBold'), local('SourceHanSerifCN-SemiBold'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Noto_Serif_CJK_SemiBold/3500/Noto_Serif_SC.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Noto_Serif_CJK_SemiBold/3500/Noto_Serif_SC.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif CJK';
  font-style: normal;
  font-display: swap;
  src: local('Noto Serif CJK Light'), local('NotoSerifSC-Light'), local('SourceHanSerifCN-Light'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Noto_Serif_CJK_Light/3500/Noto_Serif_SC.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/Lionad-Morotar/font-cdn@V1.2.0/dist/Noto_Serif_CJK_Light/3500/Noto_Serif_SC.woff') format('woff');
}

html, body {
  font-family: var(--font-text--general);
  font-size: 16px;
}

.theme-default-content:not(.custom), .page-edit, #page-bottom {
  box-sizing: border-box;
  max-width: 60rem;
}

@media screen and (min-width: 2000px) {
  .theme-default-content:not(.custom), .page-edit, #page-bottom {
    padding-left: 12rem;
    max-width: 70rem;
  }
}

@media screen and (max-width: 1920px) {
  .theme-default-content:not(.custom), .page-edit, #page-bottom {
    padding-left: 8rem;
  }
}

@media screen and (max-width: 1440px) {
  .theme-default-content:not(.custom), .page-edit, #page-bottom {
    padding-left: 2.5rem;
  }
}

@media (max-width: 750px) {
  .theme-default-content:not(.custom), .page-edit, #page-bottom {
    padding: 1.5rem;
  }
}

#app {
  &.no-move {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

/* ********************************************** Colors */
medium-black = #777;
light-black = #ccc;
/* ********************************************** Values */
scrollbar-width = 0.625rem;
sidebar-width = 25rem;
navbar-height = 3.6rem;

/* ********************************************** Scrollbar */
::-webkit-scrollbar {
  position: absolute;
  width: scrollbar-width;
  border-radius: 0;
  background-color: #f9f9f9;
  cursor: pointer;
}

/* 定义滚动条轨道 内阴影+圆角 */
::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #f9f9f9;
  cursor: pointer;
}

/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
  height: navbar-height;
  border-radius: 1px;
  background-color: light-black;
  transition: 0.3s;
  cursor: pointer;
}

/* 定义滑块悬浮样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: medium-black;
  cursor: pointer;
}

/* ********************************************** Selection */
::selection {
  background-color: rgba(230, 230, 250, 0.5);
}

/* ********************************************** Sidebar */
.sidebar {
  top: 0;
  width: sidebar-width;
  font-family: var(--font-sidebar);
  border: none;
  border-right: solid 1px #ecdad2;
  font-size: 1rem;
  transition: 0.3s;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 99;
  user-select: none;
  background: white;

  /* 整体调整 */
  & > ul.sidebar-links {
    padding-top: navbar-height + 1em;
  }

  .sidebar-group a.sidebar-link {
    text-indent: -1.35em;
    padding-left: 4em;
    padding-right: 2em;
  }

  .sidebar-group li {
    background: transparent;
    transition: 0.2s;
    line-height: 2.5em;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  /* 二级标题调整 */
  ul.sidebar-sub-headers {
    padding-left: 0;
    border-left: 0.25rem dashed #300c22;
    font-size: 0.85em;
    text-indent: 2.35em;
  }

  /* 悬浮样式 */
  &:hover {
    & > ul.sidebar-links {
      width: sidebar-width;
    }

    &::-webkit-scrollbar {
      display: block;
    }
  }
}

.page-nav {
  font-family: var(--font-sidebar);

  p {
    font-size: 0.875rem !important;
  }
}

.home {
  .content {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
  }
}

div[class*='language-'] {
  background-color: rgba(0, 0, 0, 0.85);
}

// 禁用A标签后面携带的链接标志
.icon.outbound {
  display: none;
}

.first-letter {
  overflow-wrap: break-word;
  font-size: 3.25rem;
  font-weight: 500;
  line-height: 5.25rem;
  display: block;
  position: relative;
  float: left;
  margin: 0px 0.75rem 0 0px;
}