input[type='checkbox'] {
    cursor: pointer;
}

// codepen block
.cp_embed_wrapper {
    margin-top: 1em;
}

.label-idx {
    display: inline-block;
    padding: 0.2em;
    margin-right: 0.2em;
    min-width: 1.1em;
    line-height: 1em;
    background: #262626;
    color: white;
    font-weight: bold;
}