// 颜色
$accentColor = #300c22;
$textColor = #221521;
$borderColor = #ecdad2;
$codeBgColor = #eee;
$arrowBgColor = #ccc;
$badgeTipColor = #42b983;
$badgeWarningColor = darken(#ffe564, 35%);
$badgeErrorColor = #DA5961;
// 布局
$navbarHeight = 3.6rem;
$sidebarWidth = 25rem;
$contentWidth = 60rem;
// 响应式变化点
$MQNarrow = 959px;
$MQMobile = 760px;
$MQMobileNarrow = 419px;