/* * response page padding */
+page-content() {
    box-sizing: border-box;
    padding-left: 1.5rem;
    max-width: 60rem;
}

@media screen and (min-width: 3839px) {
    +page-content() {
        max-width: 75rem;
    }
}

@media screen and (min-width: 2559px) {
    +page-content() {
        max-width: 70rem;
    }
}

@media screen and (min-width: 1919px) {
    +page-content() {
        max-width: 65rem;
    }
}

/* * response em */
@media (min-resolution: 1.50dppx) and (max-resolution: 1.75dppx) {
    html, body, :root {
        font-size: 16px;
    }
}

@media (min-resolution: 1.75dppx) and (max-resolution: 2.00dppx) {
    html, body, :root {
        font-size: 15px;
    }
}

@media (min-resolution: 2.00dppx) and (max-resolution: 2.25dppx) {
    html, body, :root {
        font-size: 14px;
    }
}

@media (min-resolution: 2.25dppx) and (max-resolution: 2.50dppx) {
    html, body, :root {
        font-size: 13px;
    }
}

@media (min-resolution: 2.50dppx) and (max-resolution: 2.75dppx) {
    html, body, :root {
        font-size: 12px;
    }
}