:root {
    /* Structure */
    --width-mobile: 719px;
    --scrollbar-width: 0.625rem;
    --sidebar-width: 25rem;
    --navbar-height: 3.6rem;
    /* Font */
    --font-code: 'Fira', 'Consolas', 'Monaco', 'Courier New', 'Courier', 'monospace';
    --font-text: 'Noto Serif CJK', 'Lato', 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-text--general: 'Noto Serif CJK', 'Consolas', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-text--bold: 'Noto Serif CJK BOLD', 'Lato', 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-sidebar: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    /* General Color */
    --theme-black: #221522;
    --dark-black: #231622;
    --medium-black: #300c22;
    --light-black: #ccc;
    --light-gray: #f9f9f9;
    --medium-gray: #f2f2f2;
    /* Component Color */
    --color-background: white;
    /* Text Color */
    --text-black: #262626;
    --text-black--lighter: #333;
    --text-gray: #757575;
    --text-gray--lighter: #b2b2b2;
    /* Transition */
    --timing-slow: 0.5s;
    --timing-norm: 0.3s;
    --timing-quick: 0.2s;
    --timing-light: 0.1s;
    --timing-reduce: 999s;
}

/* 给字符串添加字体存储路径前缀 */
useFontBaseURL(path) {
    $font-url = 'https://cdn.jsdelivr.net/gh/Lionad-Morotar/blog-cdn/fonts/';
    return url($font-url + path);
}

@font-face {
    font-family: Dhenmark;
    font-display: swap;
    src: useFontBaseURL('Dhenmark.ttf');
}

@font-face {
    font-family: Edo;
    font-display: swap;
    src: useFontBaseURL('Edo.woff2'), useFontBaseURL('Edo.woff'), useFontBaseURL('Edo.ttf');
}

@font-face {
    font-family: 'Noto Serif CJK BOLD';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local('Noto Serif CJK SemiBold'), local('NotoSerifSC-SemiBold'), local('SourceHanSerifCN-SemiBold'), useFontBaseURL('Noto_Serif_CJK_SemiBold/3500/Noto_Serif_SC.woff2') format('woff2'), useFontBaseURL('Noto_Serif_CJK_SemiBold/3500/Noto_Serif_SC.woff') format('woff');
}

@font-face {
    font-family: 'Noto Serif CJK';
    font-style: normal;
    font-display: swap;
    src: local('Noto Serif CJK Light'), local('NotoSerifSC-Light'), local('SourceHanSerifCN-Light'), useFontBaseURL('Noto_Serif_CJK_Light/3500/Noto_Serif_SC.woff2') format('woff2'), useFontBaseURL('Noto_Serif_CJK_Light/3500/Noto_Serif_SC.woff') format('woff');
}
