::selection {
    background-color: rgba(230, 230, 250, 0.5);
}

header-tags = 'h1, h2, h3, h4, h5';

{header-tags} {
    m {
        color: #fefefe;
    }

    // TODO refactor ?
    & + h1, & + h2, & + h3, & + h4, & + h5 {
        display: block;
        margin-top: 0;
    }

    margin-bottom: 0;
    border: none;
    text-align: left;
    color: var(--text-black);
    font-family: var(--font-text--bold);
}

h2, h3, h4, h5, h6 {
    position: relative;
    margin: 2em 0 1em 0;
    padding: 3px 0.5em;
    line-height: 1.5em;
    background: var(--dark-black);
    color: transparent;
    text-transform: uppercase;
    border-radius: 1px;
    font-weight: bolder;

    &:target {
        animation: showTarget 1.5s 1 linear;
        outline-offset: .2em;
    }
    @keyframes showTarget {
        from {
            outline: dashed 3px var(--theme-black);
        }
        to {
            outline: dashed 3px rgba(0,0,0,0);
        }
    }

    &::before {
        content: attr(id);
        position: absolute;
        height: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        color: transparent;
        letter-spacing: 2em;
        z-index: 0;
    }
    &::after {
        content: attr(id);
        position: absolute;
        height: 100%;
        width: auto;
        top: 0;
        left: 0.5em;
        color: #fefefe;
    }

    .header-anchor {
        margin-left: -2.7em;
        padding-right: 1em;
    }
}

h1 {
    position: relative;
    // 覆盖 Vuepress 样式
    margin-top: 1.25rem !important;
    margin-bottom: 3rem !important;
    font-size: 3rem;

    /* &::after {
        content: attr(id);
        position: absolute;
        left: -3.5rem;
        top: 0;
        font-size: 8rem;
        color: rgba(0,0,0,0.13);
    } */
}

h2 {
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(45deg, rgba(0,0,0,0.62) 18%, transparent 68%);

    &::before {
        background: linear-gradient(45deg, black 0%, rgba(0,0,0,0) 68%);
    }
    &::after {
        line-height: 1.6em;
    }
}

h3 {
    margin-top: 1.75em;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(45deg, #4a1227, rgba(76,18,39,.62) 18%, transparent 64%);

    &::before {
        background: linear-gradient(45deg, rgba(76,18,39,.62) 0%, transparent 65%);
    }
    &::after {
        line-height: 1.65em;
    }
}

h4, h5, h6 {
    display: block;
    margin-top: 1.75em;
    padding: 0;
    color: inherit;
    background: none;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: unset;

    &::before,
    &::after {
        content: unset;
    }
}

& > img, & > p > img, & > figure> img, & > video, & > p > video, & > figure> video {
    box-sizing: border-box;
    display: block;
    margin: 1.5em auto;
    margin-bottom: 0;
    max-width: 100%;
    vertical-align: middle;
    border: solid 1px;

    & + figcaption {
        margin-top: 0.3em;
        margin-bottom: 0.5em;
        text-align: center;
        font-size: 12px;
        overflow: hidden;
    }
}

& > img, & > video {
    margin: 1.95rem auto 1.75em auto;
    max-width: 100%;

    // 图片链接失效时，若没有 alt 属性，则回退至显示 Emoji
    &[alt='']::after, &:not([alt])::after {
        content: '💔';
    }
}

p, details, form {
    margin-top: 1.3rem;
    margin-bottom: 0;
    font-size: 1.3125rem;
    color: var(--text-black);
    line-height: 2;
    text-rendering: optimizeLegibility;
    text-align: justify;
    font-style: normal;
    word-break: break-all;
    outline: none;

    input[type='text'] {
        padding: 3px 5px;
        height: 1.3125rem;
        font-size: 1.3125rem;
    }
}

input {
    cursor: pointer;
}

button {
    position: relative;
    top: -2px;
    display: inline-block;
    font-size: 1.3125rem;
    border: solid 2px var(--theme-black);
    background: var(--color-background);
    box-shadow: 2px 2px 1px 0 var(--theme-black);
    user-select: none;
    cursor: pointer;
    outline: none;

    &:active {
        left: 2px;
        top: 0;
        background: var(--light-gray);
        box-shadow: none;
    }
}

details {
    summary {
        font-family: var(--font-text--bold);
        font-weight: bold;
        user-select: none;
        cursor: pointer;
        outline: none;

        &:active {
            outline: 1px solid;
            outline-offset: 5px;
        }
    }
}

p + p {
    margin-top: 1em;
}

.custom-block {
    border-radius: 0px;

    .custom-block-title {
        display: none;
    }

    p+p {
        margin: 0;
        font-size: 1rem;
    }
}

p + div {
    margin-top: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    & + p {
        margin-top: 0;
    }
}

hr {
    width: 70%;
    height: 3rem;
    background: url('https://mgear-image.oss-cn-shanghai.aliyuncs.com/assets/hr.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 5rem auto;
    border: none;
}

li {
    margin-top: 1em;
    font-size: 1.3125rem;
    letter-spacing: 0.28px;
    line-height: 2;

    & > * {
        text-align: unset;
    }

    & > details:only-child summary {
        &::marker {
            display: none;
        }

        &:hover {
            outline: 1px solid var(--light-gray);
            outline-offset: 6px;
        }

        &:active {
            outline: 1px solid;
            outline-offset: 5px;
        }
    }
}

a {
    display: inline;

    &:not(.header-anchor) {
        color: var(--text-black);
        text-decoration: underline;
        text-decoration-color: var(--text-gray--lighter);
        text-underline-position: under;
        /* user-select: none; */
        transition: text-decoration-color var(--timing-quick);
        cursor: pointer;

        &:visited, &:active {
            color: var(--text-black);
            opacity: 0.8;
        }

        &:hover {
            text-decoration-color: #c62222;
        }
    }

    &.header-anchor {
        position: relative;
        top: -0.05em;
        float: unset;
        margin-top: 0;
        margin-left: -1.7em;
        padding-right: 0;
        text-decoration: none !important;
        transition: var(--timing-norm);
    }

    & > svg {
        margin-right: 2px;
    }
}

{header-tags} {
    a.header-anchor, a:not(.header-anchor) {
        &:visited, &:active {
            /* !FIXME */
            /* color: #fefefe; */
            text-decoration-color: #fefefe;
        }
    }
}

sup {
    &.footnote-ref {
        margin-left: 0.3em;
    }
}

blockquote {
    position: relative;
    margin: 1.5em;
    padding: 0 4.5em;
    border: 0;
    font-family: 'MJXTEX-I','楷体';
    color: var(--text-gray);

    & > p:nth-child(1) {
        position: relative;
        margin-top: 0;
        text-align: center;
        word-break: break-word;

        name {
            /* position: absolute; */
            display: block;
            margin: auto;
            width: 95%;
            text-align: right;
            font-weight: bold;

            &::before {
                content: '—— ';
            }
        }
    }

    & + p {
        margin-top: 0.8em;
    }
}
hr + blockquote,
blockquote + blockquote {
    margin-top: 2.3em;
}

h1 + blockquote, h2 + blockquote, h3 + blockquote {
    margin-top: 2em;
}

q {
    display: block;
    font-size: 14px;
    /* font-size: 70%; */
    line-height: 1.7;

    &::before,
    &::after {
        padding: .2em;
        /* font-size: 125%; */
        font-weight: bold;
    }
    &::after {
        padding: .3em;
    }
}

ol, ul {
    padding-inline-start: 3.25em;
    padding-inline-end: 3.25em;

    &:not(ol) {
        list-style: square outside;
    }
}

del {
    color: hsla(0, 0%, 0%, 0.32);
}

h2 > del {
    color: transparent;
}

mark, .highlighted {
    background: #7DFFB3;
}

code {
    background: var(--medium-gray);
    border-radius: 3px;
    padding: 3px 0.3em;
    font-size: 1.25rem;
    font-family: var(--font-code);
    color: #5a3858;
}

li code {
    font-size: 1.125rem;
}

em, strong, b, bold {
    font-family: var(--font-text--bold);
    font-weight: 500;
    font-style: normal; // 浏览器中的中文斜体十分难看
}

.extra-class {
    border-radius: 0;
}

pre {
    margin-top: 1.5rem;
    padding: 1.25rem 1rem;
}

pre + p {
    margin-top: 1.8em;
}

& > br + br {
    display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 100%;
}

.first-letter {
    overflow-wrap: break-word;
    font-size: 3.25rem;
    font-weight: 500;
    line-height: 5.25rem;
    display: block;
    position: relative;
    float: left;
    margin: 0px 0.75rem 0 0px;
}

.subtitle {
    margin: 0.5em 0 1.2em 0;
    color: var(--text-gray);
}

@media screen and (max-width: 888px) {
    h1 {
        font-size: 1.875rem;
    }

    h2 {
        font-size: 1.625rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p, li, blockquote, code {
        font-size: 1.125rem;
    }

    blockquote {
        padding-left: 1em;
        padding-right: 1em;
    }

    pre {
        font-size: 1rem;
    }

    li code {
        font-size: 0.9375rem;
    }

    ol, ul {
        padding-inline-start: 2.2em;
        padding-inline-end: 1em;
        font-size: 1rem;

        li {
            margin-top: 0.5em;
            font-size: 1rem;
            line-height: 1.75;
        }
    }

    h2, h3 {
        box-sizing: border-box;
        position: relative;
        padding: 3px 1.5rem !important;
        width: 100vw;
        left: -1.5rem;
        border-radius: 0;

        &::after {
            left: 1.5rem !important;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        word-break: break-word;
    }

    hr {
        width: 100%;
        height: 1rem;
        margin: 3rem 0 0 0;
        border: none;
    }

    & > p > img, & > figure> img, & > p > video, & > figure> video {
        margin: 0 auto;
    }
}