/* ********************************************** Values */
.navbar {
    left: var(--sidebar-width);
    font-family: var(--font-sidebar);
    background: transparent;
    border-bottom: 0;
    height: var(--navbar-height);
    z-index: 100;
    background: var(--color-background);

    /* LOGO */
    .home-link {
        display: none;
        box-sizing: border-box;
        position: fixed;
        left: 0px;
        top: 0px;
        padding-left: 1.5em;
        width: var(--sidebar-width);
        height: var(--navbar-height);
        line-height: var(--navbar-height);
        background: var(--dark-black);

        .site-name {
            position: absolute;
            color: #fefefe;
            text-transform: uppercase;
            font-size: 2.2em;
            font-family: fantacy, var(--font-sidebar);
            letter-spacing: 0.25rem;
        }
    }

    /* 链接 */
    div.links {
        padding-left: 0;
        top: calc(0.7em - 1.5px);
        right: 1.5em;
        // left: calc(((100vw - 25em - 75.75em) / 2));
        // left: calc(((100vw - 25em - 70.3em) / 2));
        background-color: transparent;

        .nav-item {
            padding: 0;
            border: solid 3px var(--dark-black);
            min-width: 8.125rem;
            text-align: right;
            background-image: var(--button-background);
            cursor: pointer;

            @keyframes background-move {
                0% {
                    background-position: 0 0;
                }

                100% {
                    background-position: 0 4rem;
                }
            }

            .nav-link {
                box-sizing: border-box;
                display: inline-block;
                padding: 0 1em;
                width: 100%;
                font-family: inherit;
                font-weight: bold;
                border-bottom: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: var(--timing-quick);
            }

            .router-link-active {
                padding-right: 1.5em;

                &::before {
                    position: absolute;
                    right: 0.5em;
                    bottom: 50%;
                    content: '';
                    width: 0.5em;
                    height: 0.5em;
                    background: #4a1227;
                    transform: translateY(50%);
                }

                &::after {
                    content: '';
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 888px) {
    .navbar {
        border-bottom-1px();
        background: var(--color-background);
        left: 0;

        .sidebar-button {
            padding: 0.5rem;
            left: unset;
            right: 1rem;
            z-index: 1;
        }

        .home-link {
            display: block;
            background: none;

            .site-name {
                font-size: 1.4em;
                color: var(--dark-black);
            }
        }
    }
}
