/* ********************************************** Sidebar */
.sidebar {
    top: 0;
    width: var(--sidebar-width);
    font-family: var(--font-sidebar);
    border: none;
    border-right: solid 1px #ecdad2;
    font-size: 1rem;
    transition: var(--timing-norm);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 99;
    user-select: none;
    background: var(--color-background);

    /* 整体调整 */
    & > ul.sidebar-links {
        padding-top: 1em;

        & > li:last-child {
            color: var(--color-background);
            opacity: 0;
            height: 2em;
            overflow: hidden;
        }
    }

    .sidebar-group a.sidebar-link {
        text-indent: -1.35em;
        padding-left: 4em;
        padding-right: 2em;
    }

    .sidebar-group li {
        background: transparent;
        transition: var(--timing-quick);
        line-height: 2.5em;

        &:hover {
            background: var(--medium-gray);
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    /* 二级标题调整 */
    ul.sidebar-sub-headers {
        padding-left: 0;
        border-left: 0.25rem dashed var(--medium-black);
        font-size: 0.85em;
        text-indent: 2.35em;
    }

    /* 悬浮样式 */
    &:hover {
        & > ul.sidebar-links {
            width: var(--sidebar-width);
        }

        &::-webkit-scrollbar {
            display: block;
        }
    }
}

@media screen and (max-width: 888px) {
    .sidebar {
        ul.sidebar-links {
            padding-top: 1em;
            /* padding-top: calc(var(--navbar-height) + 1em); */
        }
    }
}
