.page > .content__default {
    .table-of-contents {
        position: fixed;
        transform: translateX(calc(-100% - 4rem)) translateY(1.7125rem);
        text-align: right;
        list-style: none;

        & > ol {
            margin-top: 0;
        }

        ul, ol {
            list-style: unset;
            padding-inline-start: 0 !important;
            padding-inline-end: 0em !important;
        }

        & > ol, & > ul {
            ul, ol {
                counter-reset: listIdxCounter;

                li {
                    counter-increment: listIdxCounter;
                }
            }
        }

        & > ol > li {
            &:first-child:before {
                content: 'TABLE OF CONTENTS';
                padding: 3px 0.625rem;
                font-family: fantacy;
                font-weight: lighter;
                letter-spacing: 2px;
                border: solid 2px;
                border-right: solid 12px;
            }

            & > ol {
                margin-top: 1em;
                // 不知为何失效了，把 padding-right 挪到下一级 li 中才能生效
                /* padding-right: 10px; */
                max-height: 50vh;
                overflow: hidden scroll;

                li {
                    padding-right: .5em;
                }
            }

            ::-webkit-scrollbar {
                width: 3px;
            }
        }

        // 去掉一级导航菜单
        & > ol > li > a {
            display: none;
        }

        // 去掉四级导航菜单
        & > ol > li > ol > li > ol > li > ol > li {
            display: none;
        }

        li {
            margin: 0;
            line-height: unset;

            a {
                font-size: 1rem;
                font-weight: 400;
                font-family: var(--font-sidebar);
                letter-spacing: 1px;
                text-decoration: none;
                opacity: 1;

                &::before {
                    content: counters(listIdxCounter, '-') ' ';
                    opacity: 0;
                    transition: var(--timing-slow);
                    // font-family: inherit;
                    font-weight: bold;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }

        & > ol > li > ol > li {
            margin-top: 0.1em;

            &:hover {
                li a::before {
                    opacity: 1;
                }
            }

            & > a {
                // font-family: inherit;
                font-weight: bold;
            }
        }

        & > ol > li > ol > li > ol {
            line-height: 1.25em;
        }

        & > ol > li > ol > li > ol > li > a {
            font-size: 0.875rem;
        }

        & > ol > li > ol > li, & > ol > li > ol > li > ol > li {
            transition: var(--timing-quick);

            &:hover {
                background: var(--medium-gray);
            }
        }
    }

    @media screen and (min-width: 2000px) {
        .table-of-contents {
            transform: translateX(calc(-100% - 8rem)) translateY(1.7125rem);
        }
    }

    @media screen and (max-width: 1440px) {
        .table-of-contents {
            display: none;
        }
    }
}

body, html {
    scroll-padding-top: 100px;
}

@media screen and (max-width: 888px) {
    body, html {
        scroll-padding-top: 0;
    }
}