@font-face {
  font-display: swap;
  font-family: "Noto Serif SC 005";
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  src: url(./Noto_Serif_SC-300-7cc8363a8b.woff2) format("woff2"), url(./Noto_Serif_SC-300-8a59d7cac7.woff) format("woff");
}