// 禁用A标签后面携带的链接标志
.icon.outbound
  display none

@font-face
  font-family 'Lato'
  font-style normal
  font-weight 400
  src local('Lato Regular'), local('Lato-Regular'), url(/fonts/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2')
  unicode-range U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
  font-family 'Lato'
  font-style normal
  font-weight 400
  src local('Lato Regular'), local('Lato-Regular'), url(/fonts/S6uyw4BMUTPHjx4wXg.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
  font-family 'Lato'
  font-style normal
  font-weight 700
  src local('Lato Bold'), local('Lato-Bold'), url(/fonts/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2')
  unicode-range U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
  font-family 'Lato'
  font-style normal
  font-weight 700
  src local('Lato Bold'), local('Lato-Bold'), url(/fonts/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
  font-family 'Lora'
  font-style normal
  font-weight 400
  src local('Lora Regular'), local('Lora-Regular'), url(/fonts/0QIvMX1D_JOuMwf7I-NP.woff2) format('woff2')
  unicode-range U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
  font-family 'Lora'
  font-style normal
  font-weight 400
  src local('Lora Regular'), local('Lora-Regular'), url(/fonts/0QIvMX1D_JOuMw77I-NP.woff2) format('woff2')
  unicode-range U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
  font-family 'Lora'
  font-style normal
  font-weight 400
  src local('Lora Regular'), local('Lora-Regular'), url(/fonts/0QIvMX1D_JOuMwX7I-NP.woff2) format('woff2')
  unicode-range U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB
  font-family 'Lora'
  font-style normal
  font-weight 400
  src local('Lora Regular'), local('Lora-Regular'), url(/fonts/0QIvMX1D_JOuMwT7I-NP.woff2) format('woff2')
  unicode-range U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
  font-family 'Lora'
  font-style normal
  font-weight 400
  src local('Lora Regular'), local('Lora-Regular'), url(/fonts/0QIvMX1D_JOuMwr7Iw.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
  font-family 'Playfair Display'
  font-style italic
  font-weight 700
  src local('Playfair Display Bold Italic'), local('PlayfairDisplay-BoldItalic'), url(/fonts/nuFnD-vYSZviVYUb_rj3ij__anPXDTngOWwu4DRmBKY.woff2) format('woff2')
  unicode-range U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
  font-family 'Playfair Display'
  font-style italic
  font-weight 700
  src local('Playfair Display Bold Italic'), local('PlayfairDisplay-BoldItalic'), url(/fonts/nuFnD-vYSZviVYUb_rj3ij__anPXDTngOWwu6zRmBKY.woff2) format('woff2')
  unicode-range U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB
  font-family 'Playfair Display'
  font-style italic
  font-weight 700
  src local('Playfair Display Bold Italic'), local('PlayfairDisplay-BoldItalic'), url(/fonts/nuFnD-vYSZviVYUb_rj3ij__anPXDTngOWwu6jRmBKY.woff2) format('woff2')
  unicode-range U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
  font-family 'Playfair Display'
  font-style italic
  font-weight 700
  src local('Playfair Display Bold Italic'), local('PlayfairDisplay-BoldItalic'), url(/fonts/nuFnD-vYSZviVYUb_rj3ij__anPXDTngOWwu5DRm.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
  font-family 'Playfair Display'
  font-style normal
  font-weight 900
  src local('Playfair Display Black'), local('PlayfairDisplay-Black'), url(/fonts/nuFlD-vYSZviVYUb_rj3ij__anPXBb__lWoe5ixi.woff2) format('woff2')
  unicode-range U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
  font-family 'Playfair Display'
  font-style normal
  font-weight 900
  src local('Playfair Display Black'), local('PlayfairDisplay-Black'), url(/fonts/nuFlD-vYSZviVYUb_rj3ij__anPXBb__lWEe5ixi.woff2) format('woff2')
  unicode-range U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB
  font-family 'Playfair Display'
  font-style normal
  font-weight 900
  src local('Playfair Display Black'), local('PlayfairDisplay-Black'), url(/fonts/nuFlD-vYSZviVYUb_rj3ij__anPXBb__lWAe5ixi.woff2) format('woff2')
  unicode-range U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
  font-family 'Playfair Display'
  font-style normal
  font-weight 900
  src local('Playfair Display Black'), local('PlayfairDisplay-Black'), url(/fonts/nuFlD-vYSZviVYUb_rj3ij__anPXBb__lW4e5g.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

:root
  --text-black rgba(0, 0, 0, 0.85)
  --text-black--lighter rgba(0, 0, 0, 0.8)
  --text-gray rgba(0, 0, 0, 0.54)
  --text-gray--lighter rgba(0, 0, 0, .3)
  --font-code "Fira", "Consolas", "Monaco", "Courier New", "Courier", "monospace"

*
  margin 0
  padding 0

body
  -webkit-font-smoothing antialiased

::selection
  background-color lavender

.first-letter
  overflow-wrap break-word
  font-family "Playfair Display", serif
  font-size 52px
  font-weight 500
  line-height 84px
  display block
  position relative
  float left
  margin 0px 12px 0 0px

.subtitle
  margin .5em 0 1.2em 0
  font-family "Lato", sans-serif
  color var(--text-gray)

.page
  h1,
  h2,
  h3
    margin-top 1.5em
    margin-bottom 0
    text-align left
    color var(--text-black)

  h1
    font-family "Playfair Display", serif
    font-size 48px

  h2
    font-family "Lato", sans-serif
    font-size 30px
    font-weight 700
    line-height 70px
    letter-spacing 1px

  h3
    margin-top 1em
    font-family "Lato", sans-serif
    font-size 24px
    font-weight 700
    line-height 70px
    letter-spacing 1px

  p
    margin-top 2em
    margin-bottom 0
    font-family "Lora"
    font-size 21px
    color var(--text-black)
    line-height 2
    text-rendering optimizeLegibility
    text-align justify
    font-style normal
    word-break break-all
    & + p
      margin-top 1em

  h1 + p,
  h2 + p,
  h3 + p
    margin-top 0

  li
    margin-top 1em
    font-family "Lora"
    font-size 21px
    letter-spacing 0.28px
    line-height 2
    code
      font-size 18px

  a:visited,
  a:active
    color var(--text-black)
    opacity .8

  a
    color var(--text-black)
    text-decoration underline
    text-decoration-color var(--text-gray--lighter)
    text-underline-position under
    user-select none
    transition text-decoration-color .2s
    cursor pointer
    &:hover
      text-decoration-color var(--text-gray)

  blockquote
    margin 1em 0
    padding .4em 0 .5em 2em
    border-left solid 4px var(--text-gray)
    font-size 22px
    color var(--text-gray)
    letter-spacing 1px
    word-break break-all
    text-align justify
    & > p
      &:nth-child(1)
        margin-top 0
    & + p
      margin-top .8em

  h1 + blockquote,
  h2 + blockquote,
  h3 + blockquote
    margin-top 2em

  ol,
  ul
    padding-inline-start 2.45em
    padding-inline-end 2.45em

  mark,
  .highlighted
    background #7DFFB3

  code
    background rgba(0,0,0,.05)
    border-radius 3px
    margin 0 3px
    padding 3px .3em
    font-size 20px
    font-family var(--font-code)

  strong
    color var(--text-black--lighter)

  pre
    margin-top 2em
    padding 20px
    border-radius 4px
    background rgba(0,0,0,.05)
    line-height 1.75
    font-family var(--font-code)
    font-size 16px
    color var(--text-black)
    white-space pre-wrap
    word-break break-word
    & + p
      margin-top 1.8em



