<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" href="favicon.ico" />
  <title>
  <%= htmlWebpackPlugin.options.title %>
  </title>
  <script src="https://cdn.loghub.com/assets/iconfont/cybercloud/latest/index.js"></script>
  <script src="https://cdn.loghub.com/assets/cybercloud-ui/cyber/latest/index.js"></script>
  <script src="https://cdn.loghub.com/assets/cybercloud-ui/helper/latest/index.js"></script>
  <script src="https://cdn.loghub.com/assets/vue/3.3.4/vue.global.prod.js"></script>
  <script src="https://cdn.loghub.com/assets/vue-router/4.2.2/vue-router.global.prod.js"></script>
  <script src="https://cdn.loghub.com/assets/vue-demi/0.14.5/index.min.js"></script>
  <script src="https://cdn.loghub.com/assets/element-plus/2.3.5/index.full.min.js"></script>
  <script src="https://cdn.loghub.com/assets/cybercloud-ui/latest/index.js"></script>
  <link href="https://cdn.loghub.com/assets/element-plus/2.3.5/index.min.css" rel="stylesheet" />
  <link href="https://cdn.loghub.com/assets/cybercloud-ui/latest/styles/index.css" rel="stylesheet" />
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong>
  </noscript>
  <div id="app"></div>
</body>

</html>