/* no need in nuxt */
/* @import "modern-css-reset"; */

/* Settings */
@import 'setting.styl';

/* Tools */
@import 'tools.styl';

/* Components */
@import 'components/article.styl';

/* Themes */
/* @import 'page.styl';
@import 'effects.styl';
@import 'atomic.styl';

#app {
  &.no-move {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

/* no need in nuxt */
/* ::selection {
  background-color: rgba(230, 230, 250, 0.5);
}
div[class*='language-'] {
  background-color: rgba(0, 0, 0, 0.85);
} */
